<h1>New ticket</h1>

<%= error_messages_for :ticket %>

<% form_for([ @event, @ticket ]) do |f| %>
  <p>
    <b>Attendee</b><br />
    <%= f.text_field :attendee %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', event_tickets_path(@event) %>
